/* background color: 
#ffffff - main
#2f303a - hero and footer;
#F5F4FA - our team
text color:
#212121 - title
#2196F3 - accent
#757575 - text paragraph
#ffffff - hero
color: rgba(255, 255, 255, 0.6); - footer contact */

:root {
  --accent: #2196f3;
  --white: #ffffff;
  --dark-gray: #2f303a;
  --light-gray: #f5f4fa;
  --black-text: #212121;
  --gray-text: #757575;
}

/* утилиты */
html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--gray-text);
  background-color: var(--white);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* шапка */
.main-top {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logo-top {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--black-text);
  text-decoration: none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent);
  text-decoration: none;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.navigation {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--black-text);
  text-decoration: none;
}
.navigation:hover,
.navigation:focus {
  color: var(--accent);
}
.schedule-contacts {
  display: flex;
  margin-left: auto;
}
 .schedule-contacts .item + .item {
   margin-left: 50px;
 }
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--gray-text);
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent);
}
.navigation.current {
  color: var(--accent);
}

/* блок герой */
.hero {
  background-color: var(--dark-gray);
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.hero-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}

/* блок особенности */
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: cyan;
}
.features-schedule {
  display: flex;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}
.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-text);
}

/* блок наши роботы */
.job-section {
  padding-bottom: 94px;
  background-color: blueviolet;
}
.job-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  margin-bottom: 50px;
}
.job-schedule {
  display: flex;
}
.job-item:not(:last-child) {
  margin-right: 30px;
}

/* блок команда */
.team {
  padding-bottom: 94px;
  background-color: var(--light-gray);
}
.team-schedule {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-photo {
  margin-bottom: 30px;
}
.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}
.employment {
  margin-bottom: 0;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-text);
}
/* подвал */
footer {
  background-color: var(--dark-gray);
}
.logo-bottom {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}

.mail{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* блок фильтры */
.button{
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background-color: var(--light-gray);
  border-radius: 4px;
  padding: 5.76px 22.28px;
  border: 2px solid transparent;
}
.button:hover,
.button:focus {
  background-color: var(--accent);
  color: var(--white);
}
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 32.65px;
  background-color: darkolivegreen;
}
.filters-item {
  display: block;
}
.project-section {
  padding-bottom: 148px;
  background-color: darkmagenta;
}
.project{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text);
}
.project-item{
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--gray-text);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid violet;
}
